.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
    margin: 30px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #777;
}

canvas {
    max-width: 100%;
    height: auto;
}
/* Container chứa các tab */
.tab-navigation {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Căn đều các tab */
  }
  
  /* Các tab riêng lẻ */
  .tab {
    padding: 8px 16px; /* Thu ngắn padding của các tab */
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    flex-grow: 1; /* Tất cả các tab sẽ chia đều không gian */
    text-align: center; /* Căn giữa nội dung trong tab */
    font-size: 14px; /* Thu nhỏ font-size nếu cần */
  }
  
  /* Tab khi được chọn */
  .tab.active {
    background-color: white; /* Nền trắng khi tab được chọn */
    color: black; /* Màu chữ đen khi tab được chọn */
    font-weight: bold;
    border: 0.5px solid black; /* Bo viền đen 0.5px */
  }